body {
    font-family: Arial;
}

.container {
    display:grid;
    /* grid-template-columns: 25% 200px 20%;
    grid-template-rows: 300px 300px; */
    /* grid-template: filas / columnas */
    grid-template: 300px 100px 100px / 50% 200px 25% 100px;
}

.item {
    background: lightblue;
    padding: 10px;
    border: black solid 1px;
}

